@model List<ItemModel>
@{
    ViewData["Title"] = "MyCart";
}

<h3>My cart</h3>

@if (Model.Count == 0)
{
    <h3>Your cart is empty</h3>
}
else
{
    <table class=" table table-striped">
        <tr>
            <th>Item name</th>
            <th>Item price</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <th>@item.Name</th>
        <th>@item.Price</th>
         <td><a asp-controller="Account" asp-action="DeleteFromCart" asp-route-id="@item.Id">Dzēst</a></td>
    </tr>
        }
    </table>
}
<div class="col-sm-offset-2 col-sm-10">
    <a class="btn btn-success" href="@Url.Action("Confirm", "Account")">Confirm</a>
    
</div> 
    
<footer><a href="#" onclick="history.back(); return false;">Atpakaļ</a></footer>


